*.iml
.idea
target/
build
.DS_Store
logs/
Files/
.gradle
classes/
out
.data/logs
content-typesetting-core/target/
content-typesetting-api/target/
.project
.classpath
.factorypath
org.eclipse.*
package-lock.json
content-typesetting-core/src/test/
*Local.yml